<link rel="stylesheet" href="code404">
<div id="main">
  <div id="screen">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div id="content">
      <div class="text">
        <div class="top-message">PLEASE DON'T STAND BY</div>
        <div class="error-code">404</div>
        <div class="error-message">PAGE NOT FOUND</div>
      </div>
    </div>
  </div>
</div>